@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Details for product: @Model.Id </h1>

<ul>
    <li>Product name: @Model.ProductName</li>
    <li>Price: @Model.Price</li>
    <li>Producent: @Model.Producent</li>
    <li>Date of production: @Model.DateOfProduction</li>
    <li>Description: @Model.Description</li>
</ul>
